<!doctype html>
<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css' media='screen'>
		<link rel='stylesheet' href='//raw.github.com/jharding/typeahead.js-bootstrap.css/master/typeahead.js-bootstrap.css' media='screen'>
		<link rel='stylesheet' href='app/css/app.css' media='screen'>
		<title>Angel Samano | Code Portfolio</title>
	</head>
	<body>
		<div class='container'>
			<h1>Workspace‎ revenue and capacity report tool</h1>
			<small>
				The data is getting loaded from <a href='../api/wework/data.csv'>here</a><br/>
				If you want to checkout the API response, press <a href='../api/wework/'>here</a>
			</small>
			<hr/>
			<div class='content'></div>
		</div>

		<!-- TODO: Refactor this and move it to templates file and make requireJS to load it -->
		<script type='text/template' id='content-template'>
			<div class='row'>
				<div class='col-xs-12 col-md-8'>
					<form role='form' class='main-form'>
						<div class='form-group'>
						<label for='date'>Date</label>
						<div class='dropdown'>
							<input type='text' class='form-control typeahead' id='date' placeholder='Enter date (YYYY-MM)'>
						</div>
						<span class='help-block'>The application will show you autocomplete but you can ignore this</span>
						</div>
						<button type='submit' class='btn btn-primary'>Submit</button>
					</form>
				</div>
				<div class="col-xs-6 col-md-4">
					<h5><b>Results</b></h5>
					<div class='results'></div>
				</div>
			</div>
		</script>

		<script type='text/template' id='results-template'>
			<div class='month-data'>
				<div><%= '<b>' + data.enteredMonth + '</b> ( ' + data.monthDetails + ' )'  %></div>
				<div style='font-size: 12px; color: #999;'>Used capacity: <%= data.usedCapacity %></div>
			</div>
			<br/>
			<div class='results-data'>
				<div>Monthly revenue: <%= '<b>' + data.totalRevenue + '</b>' %></div>
				<div>Unoccupied capacity: <%= '<b>' + data.unoccupiedCapacity + '</b>' %></div>
			</div>
		</script>

		<script data-main='app/scripts/init.js' src='app/scripts/vendor/require-min.js' ></script>
		
	</body>
</html>